<div class="row">
	<h1>Upcoming Open Houses</h1>
	<hr>
	<table>
		<tbody>
		<% @open_houses.each do |o| %>
			<tr>
			  <td><%= o.starts_at.strftime("%A, %b %d %Y, %I:%M%p") %> - <%= o.ends_at.strftime("%I:%M%p") %></td>
			  <td><%= link_to o.property.address1, o.property %></td>
			  <td><%= o.property.city %></td>
			  <td><%= o.property.description %></td>
			</tr>
		<% end %>
		</tbody>
	</table>