<%= form_for(@property) do |f| %>
  <%= render "shared/errors", object: @property %>
  <fieldset>
    <ul>
      <li class="required">
        <%= f.label :address1 %>
        <%= f.text_field :address1, autofocus: true %>
      </li>
      <li>
        <%= f.label :address2 %>
        <%= f.text_field :address2%>
      </li>
      <li class="required">
        <%= f.label :city %>
        <%= f.text_field :city%>
      </li>
      <li class="required">
        <%= f.label :state %>
        <%= f.text_field :state%>
      </li>
      <li class="required">
        <%= f.label :zip %>
        <%= f.text_field :zip%>
      </li>
      <li class="required">
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <li class="required">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </li>
      <li>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </li>
      <li>
        <%= image_for(@property, :small) %>
      </li>

    </ul>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", properties_path, class: 'button' %>
    </p>
  </fieldset>
<% end %>