<div class="row">
	<h1>All Properties</h1>
	<hr>
	<table>
		<thead>
			<tr>
				<th><%= link_to "Image" %></th>
				<th><%= link_to "Address", sort: :address1 %></th>
				<th><%= link_to "City", sort: :city %></th>
				<th><%= link_to "Zip", sort: :zip %></th>
				<th><%= link_to "Price", sort: :price %></th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @properties.each do |p| %>
			<tr>
				<td><%= image_for(p, :small) %></td>
				<td><%= link_to p.address1, p %></td>
				<td><%= p.city %></td>
				<td><%= p.zip %></td>
				<td><%= number_to_currency(p.price) %></td>
				<td><%= truncate(p.description, length: 75, separator: ' ') %></td>
			</td>	
			<% end %>
		</tbody>
	</table>
	<nav>
		<%= link_to "Add New Property", new_property_path, class: 'button' %>
	</nav>
</div>